<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <app-header></app-header>      
<div style="padding: 50px;">
  <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span style="background-color: #bd2130" class="input-group-text" id="basic-addon1">
          <span style="color: white" class="material-icons">
              search
          </span>
        </span>

        </div>
    <input style="width: auto" type="text" class="form-control" placeholder="Busca una sala aquí!" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-danger" type="button">&nbsp;&nbsp;&nbsp;&nbsp;Buscar&nbsp;&nbsp;&nbsp;&nbsp;</button>
    </div>
  </div>
  
  
  <div class="card" style="width: 100wh;">
      <div style="background-color: #bd2130; color:white" class="card-header">
        Featured
      </div>
      <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Nombre de sala</h5>
                <p class="card-text">Numero de personas en la sala: 3</p>
                <a href="#" class="btn btn-primary">Entrar a la sala</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Nombre de sala</h5>
                  <p class="card-text">Numero de personas en la sala: 3</p>
                  <a href="#" class="btn btn-primary">Entrar a la sala</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Nombre de sala</h5>
                    <p class="card-text">Numero de personas en la sala: 3</p>
                    <a href="#" class="btn btn-primary">Entrar a la sala</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Nombre de sala</h5>
                      <p class="card-text">Numero de personas en la sala: 3</p>
                      <a href="#" class="btn btn-primary">Entrar a la sala</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Nombre de sala</h5>
                        <p class="card-text">Numero de personas en la sala: 3</p>
                        <a href="#" class="btn btn-primary">Entrar a la sala</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Nombre de sala</h5>
                          <p class="card-text">Numero de personas en la sala: 3</p>
                          <a href="#" class="btn btn-primary">Entrar a la sala</a>
                        </div>
                      </div>
                    </div>
        </div>
    </div>
    
</div>