<app-header></app-header>

<div class="container">
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
  <div class="row">
      <div class="col-md-8  col-sm-8 col-sm-8 col-xl-4 center-buttons">
          <button type="button" class="btn btn-outline-danger  btn-block" style="margin-top: 20px;" >Entrar en sala</button>
          <button type="button" class="btn btn-outline-danger  btn-block" style="margin-bottom: 20px;" data-toggle="modal" data-target="#exampleModalCenter" >Crear sala</button>
      </div>
      <div class="col-md-12 col-sm-12 col-sm-12 col-xl-8" >
        <br>
        <h3 class="text-center text-danger">¿ Puedes dibujar un <i>{{ guess }}</i> ?</h3>
        <div class="table-draw border border-danger rounded"></div>
        <h5 class="text-center text-danger">! Practica en los que esperas ¡</h5>
      </div>
  </div>
</div>
