
<!------ Include the above in your HEAD tag ---------->

<!--
    you can substitue the span of reauth email for a input with the email and
    include the remember me checkbox
    -->
    <div class="container" style="background-color: red">
        <div style="background-color: #b5a8a891" class="card card-container">
            <h2 style="text-align: center">REGISTRATE!</h2>
            <br>
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin">
                <input type="text" id="user" class="form-control" placeholder="Nombre de usuario" required autofocus>
                <input type="password" id="password" class="form-control" placeholder="Contraseña" required>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Registrarse!</button>
            </form><!-- /form -->   
        </div><!-- /card-container -->
    </div><!-- /container -->